################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KNNN-SNAKE/.vs/KNNN-SNAKE/v18
/KNNN-SNAKE/.vs/KNNN-SNAKE/v17
